In [3]:
import pandas as pd

C:\Users\ratua\AppData\Local\Temp\ipykernel_19876\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### biasanya tara bikin table biasanamah import dari file tapi kalo ini contoh kalo mau bikin table

In [4]:
data = {
    "Nama":["ardi","fajar","ratu"],
    "Usia":["20","19","18"],
    "Kota":["Cisurupan","Garut","Cikajang"]
}

### nah kan diatasmah cuman variable directory yah hampir mirip dengan array tapi ada nama kolom na
#### nah terus dibikin dataframe na siga dibawah

In [5]:
df = pd.DataFrame(data)

### cara nampilin dataframe sebenerna bisa pake print yah nanti kamu coba sendiri apa bedanya

In [6]:
display(df)

    Nama Usia       Kota
0   ardi   20  Cisurupan
1  fajar   19      Garut
2   ratu   18   Cikajang

### nampilin berdasarkan kolom dan bisa lebih dari 1 kolom
#### jadi ditulis nama kolom na dibelakang mirip kayak array tapi kalo array mah kan index na inimah nama kolom na

In [7]:
display(df["Nama"])

0     ardi
1    fajar
2     ratu
Name: Nama, dtype: object

In [8]:
display(df[["Nama","Usia"]])

    Nama Usia
0   ardi   20
1  fajar   19
2   ratu   18

### nah kan kalo kamu liat usia teh tipe datana string bukan int kita coba rubah jadi int
### tapi kan nanti mah kolom na teh bakal loba apalagi import data nah gimana cara cek na ada dibawah

In [9]:
display(df.dtypes)

Nama    object
Usia    object
Kota    object
dtype: object

In [10]:
df["Usia"] = df["Usia"].astype(int)

### kita liat lagi

In [11]:
display(df.dtypes)

Nama    object
Usia     int32
Kota    object
dtype: object

### nah misal mau bikin kolom baru tapi berdasarkan kolom usia buat cari tahun lahirnya

In [12]:
df["Tanggal_Lahir"] = 2024 - df["Usia"]

### jika dilihat lagi ini tuh kalo di array 2 dimensi itu pasti bakal pake perulangan kan , nah kalo di pandas bisa langsung jadi otomatis dan lihat hasil na dibawah

In [13]:
display(df)

    Nama  Usia       Kota  Tanggal_Lahir
0   ardi    20  Cisurupan           2004
1  fajar    19      Garut           2005
2   ratu    18   Cikajang           2006

### masih keneh kurang gereget bikin kolom na yaudah urang pake if-ifan

#### ini contoh kalo pake perulangan jadi pure gak pake pandas

In [14]:
ganjil_genap = [] # jadi kita pake list kosong buat nampung dulu
for i in df["Tanggal_Lahir"]:
    if i % 2 == 0:
        ganjil_genap.append("Genap")
    else :
        ganjil_genap.append("Ganjil")
#masukan kedalam data frame yah
df["Ganjil_genal_v1"] = ganjil_genap
# dan list / array juga bisa dimasukan ke dataframe untuk kolom asalkan panjang dataframe dan list sama
display(df)

    Nama  Usia       Kota  Tanggal_Lahir Ganjil_genal_v1
0   ardi    20  Cisurupan           2004           Genap
1  fajar    19      Garut           2005          Ganjil
2   ratu    18   Cikajang           2006           Genap

#### ini kalo pake pandas

In [15]:
# jadi dibuatkan dulu kolom baru tapi nilainya itu true / false
df["Ganjil_genal_v2"] = df["Tanggal_Lahir"] % 2 == 0
display(df)

    Nama  Usia       Kota  Tanggal_Lahir Ganjil_genal_v1  Ganjil_genal_v2
0   ardi    20  Cisurupan           2004           Genap             True
1  fajar    19      Garut           2005          Ganjil            False
2   ratu    18   Cikajang           2006           Genap             True

In [16]:
# nah karna udah true sama false bisa gunain map jadi kayak ngerubah liat aja contoh nya yaa
df["Ganjil_genal_v2"] = df["Ganjil_genal_v2"].map({True:"Genap", False:"Ganjil"})
# nah btw kalo kolom itu bisa di timpah yaa
display(df)

    Nama  Usia       Kota  Tanggal_Lahir Ganjil_genal_v1 Ganjil_genal_v2
0   ardi    20  Cisurupan           2004           Genap           Genap
1  fajar    19      Garut           2005          Ganjil          Ganjil
2   ratu    18   Cikajang           2006           Genap           Genap

### nah terus bagaimana jika kondisina banyak kan kalo diatas mah cuma binary
#### kalo akumah biasana pake function biar enak gak pake perulangan yang panjang

In [17]:
def percobaan(usia):
    if usia > 20:
        return "Kolot"
    elif usia == 19:
        return "muda"
    else :
        return "sangat muda"

In [24]:
df["percobaan"] = df["Usia"].map(percobaan)
display(df)

,Nama,Usia,Kota,Tanggal_Lahir,Ganjil_genal_v1,Ganjil_genal_v2,percobaan
0,ardi,20,Cisurupan,2004,Genap,Genap,sangat muda
1,fajar,19,Garut,2005,Ganjil,Ganjil,muda
2,ratu,18,Cikajang,2006,Genap,Genap,sangat muda

### jika kamu liat fungsi map juga bisa digunain pake method didalem na dan df["usia"] itu jadi parameter na kayak gitu lagi

### cara liat summary na yang pas kamu latihan tea nah ini kalo di pandas na kan kamu bikin fure nah inimah pake libraru

In [19]:
display(df.describe())

       Usia  Tanggal_Lahir
count   3.0            3.0
mean   19.0         2005.0
std     1.0            1.0
min    18.0         2004.0
25%    18.5         2004.5
50%    19.0         2005.0
75%    19.5         2005.5
max    20.0         2006.0

# dan inget kalo dipandas itu enak pake display daripada print yaa

# mangats belajarnyaa
# wopyuuu